<section class="diamond-hover-images-sec">
  <div class="diamond-images-container">
    <div class="diamond-images-flex">
      <div class="main-banner-images">
        {% if section.settings.banner_image != blank %}
          <img class="bnr-img" src="{{ section.settings.banner_image | img_url: 'master' }}">
        {% endif %}
      </div>

      <div class="custom-watches-text-content">
        <div class="custom-sub-content">
          {{ section.settings.subcontent_text }}
        </div>

        <div class="customer-watches-title">
          <h2 class="custom-title-content">{{ section.settings.text_title }}</h2>
        </div>

        <div class="custom-watches-desription">
          {{ section.settings.desp_title }}
        </div>

        <div class="custom-lgc-buttom">
          <a class="link-button-text">
            {{ section.settings.shop_text }}
            <span class="arrow-image">
              {% if section.settings.arrow_image != blank %}
                <img
                  class="main-arrow-img"
                  src="{{ section.settings.arrow_image | img_url: 'master' }}"
                  alt="arrow-image"
                >
              {% endif %}
            </span>
          </a>
        </div>
      </div>
      <div class="custom-watches-images-content">
        <div class="img-lgo-content">
          {% for block in section.blocks %}
            <div class="custom-watches-images">
              {% if block.settings.hover_images != blank %}
                <img
                  class="hvr-images"
                  src="{{ block.settings.hover_images | img_url: 'master' }}"
                  alt="Hover Image"
                >
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Diamond Hover Images",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "subcontent_text",
      "label": "Subcontent Text"
    },
    {
      "type": "text",
      "id": "text_title",
      "label": "Text Title"
    },
    {
      "type": "richtext",
      "id": "desp_title",
      "label": "Desp Title"
    },
    {
      "type": "text",
      "id": "shop_text",
      "label": "Shop Text"
    },
    {
      "type": "image_picker",
      "id": "arrow_image",
      "label": "Arrow Image"
    }
  ],
  "blocks": [
    {
      "type": "hover_image_block",
      "name": "Hover Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "hover_images",
          "label": "Hover Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Diamond Hover Images"
    }
  ]
}
{% endschema %}
