<style></style>
<section class="larkspur-video-text-sec">
  <div class="larkspur-video-container">
    <div class="larkspur-video-flex">
      <div class="larkspur-text">
        {% if section.settings.heading_text != blank %}
          <div class="text-heading">
            <h3 class="video-title-text">
              {{ section.settings.heading_text }}
            </h3>
          </div>
        {% endif %}

        {% if section.settings.text_description_1 != blank %}
          <div class="video-text-description">
            {{ section.settings.text_description_1 }}
          </div>
        {% endif %}

        {% if section.settings.text_description_2 != blank %}
          <div class="video-text-description">
            {{ section.settings.text_description_2 }}
          </div>
        {% endif %}

        {% if section.settings.text_description_3 != blank %}
          <div class="video-text-description">
            {{ section.settings.text_description_3 }}
          </div>
        {% endif %}
      </div>

      <div class="larkspur-video">
        <div class="video-main-upper">
          <div class="video-main-second-div">
            {% if section.settings.larkspur_video != blank %}
              {{
                section.settings.larkspur_video
                | video_tag: autoplay: true, loop: true, controls: true, playsinline: true
              }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Larkspur Video Text",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text"
    },
    {
      "type": "richtext",
      "id": "text_description_1",
      "label": "Text Description 1"
    },
    {
      "type": "richtext",
      "id": "text_description_2",
      "label": "Text Description 2"
    },
    {
      "type": "richtext",
      "id": "text_description_3",
      "label": "Text Description 3"
    },
    {
      "type": "video",
      "id": "larkspur_video",
      "label": "Upload Video"
    }
  ],
  "presets": [
    {
      "name": "Larkspur Video Text"
    }
  ]
}
{% endschema %}
