<style>
      .larkspur-baby-ftr {
       padding: 20px 0;
       background: #f5f2e6;
      }
     .larkspur-baby-container {
       width: 100%;
       max-width: 1380px;
       margin: 0 auto;
       padding: 0 40px;
     }

     .larkspur-baby-flex {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
     }

     .larkspur-customer-menues {
        width: 67%;
        background: #fff;
        border-radius: 10px;
     }

     .larkspur-navigation {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px;
        gap: 30px;
     }

     .larkspur-customer-customer-content {
        width: 31%;
         display: flex;
         flex-direction: column;
         gap: 20px;
     }

     .larkspur-cst-clmns {
         width: 30%;
     }

     .customer-footer-right-block {
        width: 100%;
        padding: 30px;
        background: #fff;
        border-radius: 10px;
     }

     .heading-customer-footer {
       font-size: 13px;
       display: block;
       color: #000000;
       letter-spacing: 2px;
       font-weight: 400;
       margin-bottom: 15px;
     }

     .customer-footer-navigation-link {
       list-style: none;
     }

     .customer-footer-link {
       text-decoration: none;
       color: #737373;
       font-size: 14px;
       display: block;
     }

    .customer-signup-heading {
     font-size: 13px;
     letter-spacing: 2px;
     margin-bottom: 8px;
     line-height: 22px;
    }

    .customer-text-description p {
      color: #737373;
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
    }

    .cstm-btn {
      color: #fff;
      background: #242f3f;
      display: inline-block;
      font-size: 14px;
      border-radius: 10px;
      padding: 9px 15px;
      border: none;
      text-align: center;
      outline: none;
      text-decoration: none;
      line-height: 16px;
      letter-spacing: 1.54px;
      font-weight: 500;
      cursor: pointer;
    }

    .customer-footer-buttons {
      margin-top: 15px;
    }

    .bottom-flex {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .page-link {
      text-decoration: none;
      color: #737373;
      font-size: 14px;
      font-weight: 400;
    }

    .footer-btm-links {
      display: flex;
      gap: 30px;
      list-style: none;
    }

    .customer-bottom-content {
      margin-top: 20px;
  }

  .footer-reserved-text span {
      font-size: 14px;
      color: #737373;
      font-weight: 400;
  }

  
</style>
<footer class="larkspur-baby-ftr">
  <div class="larkspur-baby-container">
    <div class="larkspur-baby-flex">
      <div class="larkspur-customer-menues">
        <div class="larkspur-navigation">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'link' %}
                <div class="larkspur-cst-clmns">
                  <div class="customer-content">
                    <span class="heading-customer-footer">
                      {{ block.settings.menu_text }}
                    </span>

                    <ul class="footer-col">
                      {% for link in linklists[block.settings.footer_col].links %}
                        <li class="customer-footer-navigation-link">
                          <a href="{{ link.url }}" class="customer-footer-link">
                            {{ link.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>

      <div class="larkspur-customer-customer-content">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'info' %}
              <div class="customer-footer-right-block">
                <h4 class="customer-signup-heading">
                  {{ block.settings.signup_heading }}
                </h4>

                <div class="customer-footer-signup-text">
                  <div class="customer-text-description">
                    {{ block.settings.description_text }}
                  </div>

                  <div class="customer-footer-buttons">
                    <a href="#" class="cstm-btn">
                      {{ block.settings.footer_btn }}
                    </a>
                  </div>
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>

    <div class="customer-bottom-content">
      <div class="bottom-flex">
        <div class="footer-reserved-text">
          <span>{{ section.settings.reserved_text }}</span>
        </div>

        <div class="ftr-btm-link-text">
          <ul class="footer-btm-links">
            <li class="btm-link">
              <a href="#" class="page-link">
                {{ section.settings.tcs_text }}
              </a>
            </li>
            <li class="btm-link">
              <a href="#" class="page-link">
                {{ section.settings.privacy_text }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Larkspur Footer",
  "settings": [
    {
      "type": "text",
      "id": "reserved_text",
      "label": "Reserved Text"
    },
    {
      "type": "text",
      "id": "tcs_text",
      "label": "Terms Text"
    },
    {
      "type": "text",
      "id": "privacy_text",
      "label": "Privacy Text"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link Column",
      "settings": [
        {
          "type": "text",
          "id": "menu_text",
          "label": "Menu Heading"
        },
        {
          "type": "link_list",
          "id": "footer_col",
          "label": "Footer Menu"
        }
      ]
    },
    {
      "type": "info",
      "name": "Info Block",
      "settings": [
        {
          "type": "text",
          "id": "signup_heading",
          "label": "Signup Heading"
        },
        {
          "type": "richtext",
          "id": "description_text",
          "label": "Para Text"
        },
        {
          "type": "text",
          "id": "footer_btn",
          "label": "Button Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Larkspur Footer"
    }
  ]
}
{% endschema %}
