<style>
   .testimonial-section {
     background: linear-gradient(135deg, #1c1c1c, #2c2c2c);
     padding: 40px 0;
   }

   .testimonial-container {
     max-width: 1100px;
     padding: 0 50px;
     margin: 0 auto;
   }

   .testimonial-heading {
     font-size: 54px;
     font-weight: 700;
     background: linear-gradient(180deg, #7458ff, #b4008e, #ff7a1a);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-family: 'Poppins', sans-serif;
   }

  .custom-nav {
    text-align: center;
    display: flex;
    gap: 10px;
  }

  .custom-prev, .custom-next {
    padding: 13px 16px;
    background: #302c2c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .custom-prev:hover, .custom-next:hover {
   background: #443b42;
  }

  .text-arrow-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }

  .testimonial-description p {
    color: #9c8d8d;
    font-size: 12px;
    max-width: 68%;
    letter-spacing: 0;
  }
  
  .slider-description p {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #cccccc;
    text-align: center;
  }

  .testimonials-image {
    height: 40px;
    max-width: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
</style>
<section class="testimonial-section">
  <div class="testimonial-container">
    <div class="text-arrow-flex">
      <div class="heading">
        <h2 class="testimonial-heading">{{ section.settings.testimonial_text }}</h2>
        <div class="testimonial-description">
          {{ section.settings.testimonial_para }}
        </div>
      </div>
      <div class="custom-nav">
        <button class="custom-prev"><i class="fa-solid fa-arrow-left-long"></i></button>
        <button class="custom-next"><i class="fa-solid fa-arrow-right-long"></i></button>
      </div>
    </div>
    <div class="customer-main-conntent">
      <div class="slider-content">
        <div class="owl-carousel owl-theme">
          {% for block in section.blocks %}
            <div class="item">
              <div class="testimonial-card">
                <div class="slider-description">
                  {{ block.settings.text_description }}
                </div>

                <div class="stars">
                  {{ block.settings.stars_logos }}
                </div>

                <div class="user-info">
                  {% if block.settings.testimonials_image != blank %}
                    <img
                      class="testimonials-image"
                      src="{{ block.settings.testimonials_image | img_url: 'master' }}"
                      alt="{{ block.settings.testimonials_image.alt | escape }}"
                    >
                  {% endif %}

                  <h4 class="role-name">{{ block.settings.name_heading }}</h4>

                  <div class="role-wrap">
                    <span>{{ block.settings.role_heading }}</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var owl = $('.owl-carousel');
  owl.owlCarousel({
    loop: true,
    autoplay: false,
    margin: 10,
    nav: false,
    dots: false,
    responsive: {
      0: { items: 1 },
      600: { items: 3 },
      1000: { items: 3.5 },
    },
  });

  // Custom nav events
  $('.custom-next').click(function () {
    owl.trigger('next.owl.carousel');
  });

  $('.custom-prev').click(function () {
    owl.trigger('prev.owl.carousel');
  });
</script>

{% schema %}
{
  "name": "Testimonial Slider",
  "settings": [
    {
      "type": "text",
      "id": "testimonial_text",
      "label": "Testimonial Text"
    },
    {
      "type": "richtext",
      "id": "testimonial_para",
      "label": "Testimonial Description"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "richtext",
          "id": "text_description",
          "label": "Text Description"
        },
        {
          "type": "text",
          "id": "stars_logos",
          "label": "Stars Logos"
        },
        {
          "type": "image_picker",
          "id": "testimonials_image",
          "label": "Customer Image"
        },
        {
          "type": "text",
          "id": "name_heading",
          "label": "Customer Name"
        },
        {
          "type": "text",
          "id": "role_heading",
          "label": "Customer Role"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial Slider"
    }
  ]
}
{% endschema %}
