<style>
                .watches-sec {
                    padding: 60px 0;
                }

                .watches-boxtitle {
                    width: 30%;
                    text-align: center;
                    margin: 0 auto;
                    border: 1px solid #ccc;
                    border-top-right-radius: 250px;
                    border-top-left-radius: 250px;
                    border-bottom: none;
                }

                .subtitle-div {
                    max-width: 60%;
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 75px;
                    padding-bottom: 20px;
                }

                .subtitle-flex-div {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                .gemini-logo {
                  width: 100%;
                  height: 100%;
                  max-width: 17px;
                  object-fit: contain;
                }

                .luxury-text {
                  font-size: 14px;
                  font-style: italic;
                  font-weight: 400;
                  color: #7e7e7e;
                  padding: 5px 3px;
                }

                .precision-heading {
                  color: #181818;
                  font-size: 26px;
                  text-transform: uppercase;
                  font-weight: 400;
                  letter-spacing: 0;
                  line-height: 1.2;
                  max-width: 60%;
                  margin: 0 auto;
                  padding-top: 5px;
                  padding-bottom: 20px;
                  font-family: TestDomaineDisplayRegular;
                }

                .video-flex-content {
                  display: flex;
                  justify-content: space-between;
                  border-top: 1px solid #ccc;
                  border-bottom: 1px solid #ccc;
              }

              .main-content-div {
                  width: 33%;
                  display: flex;
                  padding: 0 40px;
                  flex-direction: column;
                  justify-content: center;
              }

              .explore-luxury-text {
                margin: 0;
                font-size: 26px;
                font-weight: 400;
                letter-spacing: 0;
                text-transform: uppercase;
                font-family: TestDomaineDisplayRegular;
             }

             .title-description-gold p {
              font-size: 14px;
              line-height: 24px;
              letter-spacing: .6px;
              font-family: Product Sans Regular;
              color: #7e7e7e;
              margin: 0;
              padding-top: 12px;
              padding-bottom: 25px;
          }

          .gold-button {
            display: flex;
            padding: 7px 12px;
            background: #181818;
            width: fit-content;
            color: #fff;
            font-size: 12px;
            text-decoration: none;
            font-family: Product Sans Regular;
            text-transform: uppercase;
            line-height: 24px;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 1px;
            transition: all .4s ease-in-out;
          }

          .middle-video-div {
            border-right: 1px solid #ccc;
            width: 30%;
            padding: 16px 30px 0;
            border-left: 1px solid #ccc;
          }

          .video-middle-block {
            line-height: 0;
            height: 0;
            position: relative;
            overflow: hidden;
            padding-bottom: 94%;
            margin-top: .3px;
            border-top-left-radius: 285px;
            border-top-right-radius: 285px;
        }

        .center-video {
            height: 100%;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
        }

        .end-video-div {
          width: 33%;
      }

      .last-content-video {
          position: relative;
          height: 0;
          padding-bottom: 35%;
          max-width: 60%;
          margin: 0 auto;
          border-bottom-left-radius: 276px;
          overflow: hidden;
          border-bottom-right-radius: 250px;
      }

      .last-image {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          object-fit: cover;
      }

    .arrow-main {
        max-width: 20px;
        height: auto;
    }

    .arrow-image {
      opacity: 0;
      visibility: hidden;
      width: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      display: inline-flex;
      align-items: center;
    }

    .gold-button:hover .arrow-image {
      opacity: 1;
      visibility: visible;
      width: 20px;
      margin-left: 8px;
    }

  @media screen and (max-width: 767px){
    .video-flex-content {
      display: flex;
      flex-direction: column-reverse;
   }

  .main-content-div {
        width: 90%;
        padding: 40px 15px;
        margin: 0 auto;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
  }

  .watches-boxtitle {
    width: 90%;
  }

  .video-middle-block {
    max-width: 62%;
    margin: 0 auto;
    padding-bottom: 78%;
    margin-bottom: -1px !important;
  }
  .middle-video-div {
      width: 90%;
      margin: 0 auto;
      border-bottom: 1px solid #ccc;
  }

  .end-video-div {
      display: none;
  }
  }
</style>
<section class="watches-sec">
  <div class="watches-container">
    <div class="watches-boxtitle">
      <div class="subtitle-div">
        <div class="subtitle-flex-div">
          {% if section.settings.gemini_logo1 != blank %}
            <img class="gemini-logo" src="{{ section.settings.gemini_logo1 | img_url:'master' }}">
          {% endif %}
          <h4 class="luxury-text">{{ section.settings.luxury_text }}</h4>
          {% if section.settings.gemini_logo2 != blank %}
            <img class="gemini-logo" src="{{ section.settings.gemini_logo2 | img_url:'master' }}">
          {% endif %}
        </div>
      </div>
      <h2 class="precision-heading">{{ section.settings.precision_heading }}</h2>
    </div>

    <div class="video-flex-content">
      <div class="main-content-div">
        <h2 class="explore-luxury-text">{{ section.settings.exploreluxury_title }}</h2>
        <div class="title-description-gold">{{ section.settings.gold_description }}</div>
        <a href="#" class="gold-button">
          {{ section.settings.gold_button }}
          <span class="arrow-image">
            {% if section.settings.arrow_image != blank %}
              <img class="arrow-main" src="{{ section.settings.arrow_image | img_url: 'master' }}">
            {% endif %}
          </span>
        </a>
      </div>

      <div class="middle-video-div">
        <div class="video-middle-block">
          <video
            class="center-video"
            src="{{ section.settings.middle_video }}"
            playsinline
            autoplay
            muted
            loop
          ></video>
        </div>
      </div>
      <div class="end-video-div">
        <div class="last-content-video">
          {% if section.settings.right_image != blank %}
            <img class="last-image" src="{{ section.settings.right_image | img_url: 'master' }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Watches Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "gemini_logo1",
      "label": "Gemini Logo1"
    },
    {
      "type": "text",
      "id": "luxury_text",
      "label": "Luxury Text"
    },
    {
      "type": "image_picker",
      "id": "gemini_logo2",
      "label": "Gemini Logo2"
    },
    {
      "type": "text",
      "id": "precision_heading",
      "label": "Precision Heading"
    },
    {
      "type": "text",
      "id": "exploreluxury_title",
      "label": "Explore Text"
    },
    {
      "type": "richtext",
      "id": "gold_description",
      "label": "Gold Description"
    },
    {
      "type": "text",
      "id": "gold_button",
      "label": "Gold Button"
    },
    {
      "type": "image_picker",
      "id": "arrow_image",
      "label": "Arrow Image"
    },
    {
      "type": "url",
      "id": "middle_video",
      "label": "middle_video"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    }
  ],

  "presets": [
    {
      "name": "Watches Section"
    }
  ]
}
{% endschema %}
