<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.6.0/css/all.min.css"
  rel="stylesheet"
>

<style>
        .hover-images-flex {
        display: flex;
        justify-content: space-between;
    }

    .block-repeat-hover-card {
        width: 25%;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
  .block-card-anker {
      text-decoration: none;
  }
    .block-hover-image-card {
        position: relative;
        height: 0;
        padding-bottom: 120%;
    }

    .show-image {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .3s ease-in-out;
    }

    .hover-image {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .3s ease-in-out;
    }
</style>
<section class="watcheshover-images-sec">
  <div class="watcheshover-images-container">
    <div class="hover-images-flex">
      {% for block in section.blocks %}
        <div class="block-repeat-hover-card">
          <a href="{{ block.settings.link_url }}" class="block-card-anker">
            <div class="block-hover-image-card">
              {% if block.settings.desktop_image != blank %}
                <img
                  class="show-image"
                  src="{{ block.settings.desktop_image | img_url: 'master' }}"
                  alt="{{ block.settings.card_title }}"
                >
              {% endif %}
              {% if block.settings.hover_image != blank %}
                <img
                  class="hover-image"
                  src="{{ block.settings.hover_image | img_url: 'master' }}"
                  alt="{{ block.settings.card_title }}"
                >
              {% endif %}
            </div>

            <div class="title-arrow-image">
              <div class="title-block-col">
                <h2 class="title-card">{{ block.settings.card_title }}</h2>
                <span class="arrow-image">
                  <i class="fas fa-arrow-right"></i> </span
                ><i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Watches Hover Images",
  "settings": [],
  "blocks": [
    {
      "type": "hover_card",
      "name": "Hover Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Hover Image"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Watches Hover Images"
    }
  ]
}
{% endschema %}
