<style>
  .watches-sec {
      padding: 60px 0;
  }

  .watches-boxtitle {
      width: 30%;
      text-align: center;
      margin: 0 auto;
      border: 1px solid #ccc;
      border-top-right-radius: 250px;
      border-top-left-radius: 250px;
      border-bottom: none;
  }

  .subtitle-div {
      max-width: 60%;
      margin: 0 auto;
      text-align: center;
      padding-top: 75px;
      padding-bottom: 20px;
  }
</style>
<section class="watches-sec">
  <div class="watches-container">
    <div class="watches-boxtitle">
      <div class="subtitle-div">
        <div class="subtitle-flex-div">
          {% if section.settings.gemini_logo1 != blank %}
            <img class="gemini-logo" src="{{ section.settings.gemini_logo1 | img_url:'master' }}">
          {% endif %}
          <h4 class="luxury-text">{{ section.settings.luxury_text }}</h4>
          {% if section.settings.gemini_logo2 != blank %}
            <img class="gemini-logo" src="{{ section.settings.gemini_logo2 | img_url:'master' }}">
          {% endif %}
        </div>
      </div>
      <h2 class="precision-heading">{{ section.settings.precision_heading }}</h2>
    </div>

    <div class="video-flex-content">
      <div class="main-content-div">
        <h2 class="explore-luxury-text">{{ section.settings.exploreluxury_title }}</h2>
        <div class="title-description-gold">{{ section.settings.gold_description }}</div>
        <a href="#" class="gold-button">{{ section.settings.gold_button }}</a>
      </div>

      <div class="middle-video-div">
        <div class="video-middle-block">
          <video
            class="center-video"
            src="{{ section.settings.middle_video }}"
            controls
            autoplay
            muted
            loop
          ></video>
        </div>
      </div>

      <div class="end-video-div">
        <div class="last-content-video">
          {% if section.settings.right_image != blank %}
            <img class="last-image" src="{{ section.settings.right_image | img_url: 'master' }}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Watches Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "gemini_logo1",
      "label": "Gemini Logo1"
    },
    {
      "type": "text",
      "id": "luxury_text",
      "label": "Luxury Text"
    },
    {
      "type": "image_picker",
      "id": "gemini_logo2",
      "label": "Gemini Logo2"
    },
    {
      "type": "text",
      "id": "precision_heading",
      "label": "Precision Heading"
    },
    {
      "type": "text",
      "id": "exploreluxury_title",
      "label": "Explore Text"
    },
    {
      "type": "richtext",
      "id": "gold_description",
      "label": "Gold Description"
    },
    {
      "type": "text",
      "id": "gold_button",
      "label": "Gold Button"
    },
    {
      "type": "url",
      "id": "middle_video",
      "label": "middle_video"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    }
  ],

  "presets": [
    {
      "name": "Watches Section"
    }
  ]
}
{% endschema %}
